.card {
    width: 400px;
    height: 700px;
    background-color: #DAA520;
    border-radius: 40px;
    margin: 10px; /* Отступы между карточками */
    transition: 1s;
}
.card:hover {
    background-color: #FFD700; /* Изменяем цвет фона */
    transform: scale(1.05); /* Увеличиваем размер карточки при наведении */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}
.card-container {
    display: flex; /* Включаем Flexbox */
    justify-content: space-around; /* Равномерно распределяем карточки по горизонтали */
    flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку, если не хватает места */
}

.photo {
    height: 55%;
    padding: 30px;
}
.info {
    height: 30%;
    padding: 25px;
}
img {
    width: 100%; /* Задает изображению ширину 100% от родителя */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 20px;
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
}

